@import url("färger.css");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100dvh;
}
.main{
    min-height: 1900px;
    background: var(--mainBackground);
}
.main nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    padding: 1.5rem;
    background: var(--mainBackground);
}
.main nav a{
    text-decoration: none;
    font:bold 1.5rem system-ui;
    color: var(--underrubrikColor);
}
a.hereIAm{
    text-decoration: underline !important;
}
.main nav a:hover{
    color: var(--navHoverColor);
    text-decoration: underline;
}
.firstPicture{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
    margin-left: 3rem;
    margin-right: 3rem;
}
.firstPicture img{
    width: 20%;
    height: 28%;
    user-select: none;
}
.firstPicture section{
    margin-top: auto;
    margin-bottom: auto;
}
.firstPicture p{
    font-size:1.2rem;
    color: var(--textcolor);
    text-align: center;
}
.firstPicture h2{
    color: var(--textcolor);
    text-align: center;
    text-decoration: underline;
    margin-bottom: 0.7rem;
    font-size:1.8rem;
}
.secondPicture{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    padding-top: 5rem;
    margin-left: 3rem;
    margin-right: 3rem;
}
.secondPicture img{
    width: 40%;
    height: 60%;
    user-select: none;
}
.secondPicture section{
    margin-top: auto;
    margin-bottom: auto;
}
.secondPicture p{
    font-size:1.2rem;
    color: var(--textcolor);
    text-align: center;
}
.secondPicture h2{
    color: var(--textcolor);
    text-align: center;
    text-decoration: underline;
    margin-bottom: 0.7rem;
    font-size:1.8rem;
}
.thirdPicture{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    padding-top: 5rem;
    margin-left: 3rem;
    margin-right: 3rem;
}
.thirdPicture img{
    width: 40%;
    height: 30%;
    user-select: none;
}
.thirdPicture section{
    margin-top: auto;
    margin-bottom: auto;
}
.thirdPicture p{
    font-size:1.2rem;
    color: var(--textcolor);
    text-align: center;
}
.thirdPicture h2{
    color: var(--textcolor);
    text-align: center;
    text-decoration: underline;
    margin-bottom: 0.7rem;
    font-size:1.8rem;
}
.forthPicture{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    padding-top: 5rem;
    margin-left: 3rem;
    margin-right: 3rem;
}
.forthPicture img{
    width: 40%;
    height: 30%;
    user-select: none;
}
.forthPicture section{
    margin-top: auto;
    margin-bottom: auto;
}
.forthPicture p{
    font-size:1.2rem;
    color: var(--textcolor);
    text-align: center;
}
.forthPicture h2{
    color: var(--textcolor);
    text-align: center;
    text-decoration: underline;
    margin-bottom: 0.7rem;
    font-size:1.8rem;
}

@media screen and (max-width:1000px){
    .firstPicture{
        flex-direction: column;
    }
    .firstPicture img{
        width: 100%;
    }
    .secondPicture{
        flex-direction: column;
    }
    .secondPicture img{
        width: 100%;
    }
    .thirdPicture{
        flex-direction: column;
    }
    .thirdPicture img{
        width: 100%;
    }
    .forthPicture{
        flex-direction: column;
    }
    .forthPicture img{
        width: 100%;
    }
    .forthPicture p{
        padding-bottom: 3rem;
    }
}