@import url("färger.css");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100dvh;
}
.main{
    min-height: 100dvh;
    background: var(--mainBackground);
}
.main nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    padding: 1.5rem;
    background: var(--mainBackground);
}
.main nav a{
    text-decoration: none;
    font:bold 1.5rem system-ui;
    color: var(--underrubrikColor);
}
a.hereIAm{
    text-decoration: underline !important;
}
.main nav a:hover{
    color: var(--navHoverColor);
    text-decoration: underline;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding: 5rem 5rem 2rem 5rem;
}
.grid-item {
    position: relative;
    overflow: hidden;
    border: 1px solid black;
}
.grid-item img {
    display: block;
    width: 100%;
    height: auto;
}
.grid-item::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.8));
    z-index: 1;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.3s ease;
}
.grid-item:hover::before {
    opacity: 0.4;
}
.overlay-text {
    position: absolute;
    top: 25%; 
    left: 0;
    width: 100%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
    text-align: center;
    padding: 2rem;
}
.grid-item:hover .overlay-text {
    opacity: 1;
}