@import url("färger.css");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100dvh;
}
.main{
    min-height: 100dvh;
    background: var(--mainBackground);
}
.main nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    padding: 1.5rem;
    background: var(--mainBackground);
}
.main nav a{
    text-decoration: none;
    font:bold 1.5rem system-ui;
    color: var(--underrubrikColor);
}
a.hereIAm{
    text-decoration: underline !important;
}
.main nav a:hover{
    color: var(--navHoverColor);
    text-decoration: underline;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    gap: 3rem;
}
.container section{
    position: relative;
    overflow: hidden; 
    border: 1px solid black;
    font-size: 30px;
    display: inline-block;
    text-align: center;
    place-items: center;
    background: none;    
    justify-content: center;  
    transition: transform .1s;
}
.container section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.8));
    z-index: 1;  
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.3s ease;
}
.container section:hover::before {
    opacity: 0;
}
.container section img{
    display: block;
    width: auto;            
    max-width: 100%;
    height: auto;
}
