@import url("färger.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    min-height: 100dvh;
    background: var(--mainBackground);
}
.title{
    width: 100%;
    place-items: center;
    color: var(--textcolor);
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    font-size: 20px;
}
.bar{
    width: 40%;
    background: var(--webbshopKortBackground);
    height: 6px;
    border-radius: 1rem;
}

.container {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding: 5rem 4rem;
}
.grid-item {
    overflow: hidden;
    border: 1px solid black;
    width: clamp(300px, 100%, 100vw);
    background: var(--webbshopKortBackground);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25), 0 5px 5px 0 rgba(0, 0, 0, 0.25);
}
.grid-item::before {
    content: "";
    inset: 0;
    z-index: 1;
    pointer-events: none;
    opacity: 1;
    transition: transform 1s ease;
}
.grid-item:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 12px var(--navHoverColor);
}
.grid-item-content img{
    width: 100%;
    padding: 2rem 3rem 2rem 3rem;
}
.till-korgen-knapp {
    display: grid;
    place-items: center;
}
.varan{
    color: var(--textcolor);
    text-align: center;
    margin: -1rem 0rem 1rem;
    font-size: 1.3rem;
}
.till-korgen-knapp a{
    text-decoration: none;
    color: var(--textcolor);
    margin: 0rem 0rem 2rem 0rem;
    background: var(--headerBackround);
    padding: 0.7rem;
    border-radius: 0.5rem;
    outline: black 1px solid;
}
.till-korgen-knapp a:hover{
    text-decoration: none;
    color: var(--navHoverColor);
    text-shadow: 0px 0px 12px var(--navHoverColor);
}